#iconAccept {
    color: green;
    font-size:5em; 
}

#iconReject {
    color: red;
    font-size: 5em;
}

.matchRejectbtn{
    background:transparent;
    border: none;
}

.card-img-top {
    max-width: 700px;
    max-height: 700px;
}